@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap");
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

::-webkit-input-placeholder {
  text-transform: initial;
}

:-moz-placeholder {
  text-transform: initial;
}

::-moz-placeholder {
  text-transform: initial;
}

:-ms-input-placeholder {
  text-transform: initial;
}

body {
  font-family: "Space Grotesk", sans-serif;
  height: 100svh;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

#bg-main-desktop {
  width: 25rem;
  height: 100%;
  position: fixed;
  z-index: -1;
}

input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

main {
  height: 100%;
  min-width: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #center-box {
  width: 60rem;
  height: 28rem;
  display: grid;
  grid-template-areas: "img1 form" "img2 form";
  grid-template-columns: 4fr 5fr;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
  row-gap: 2rem;
}
main #center-box img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}
main #center-box .fg-card {
  grid-area: img1;
}
main #center-box .bg-card {
  grid-area: img2;
}
main #center-box .front, main #center-box .back {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}
main #center-box .front {
  margin-left: -3rem;
}
main #center-box .front span {
  position: absolute;
}
main #center-box .front #disc {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: hsl(270, 3%, 87%);
  left: 2rem;
  top: 1rem;
}
main #center-box .front #circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(270, 3%, 87%);
  left: 5rem;
  top: 1.5rem;
}
main #center-box .front span#number {
  font-size: 1.4rem;
  bottom: 4rem;
  left: 2rem;
  letter-spacing: 3px;
}
main #center-box .front #name, main #center-box .front #exp {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 2px;
}
main #center-box .front span#name {
  bottom: 2rem;
  left: 2rem;
}
main #center-box .front span#exp {
  bottom: 2rem;
  right: 2rem;
}
main #center-box .back {
  margin-left: 3rem;
}
main #center-box .back span {
  font-size: 0.8rem;
  position: absolute;
  bottom: 6.2rem;
  right: 3rem;
}
main #center-box form {
  width: 80%;
  grid-area: form;
  align-self: center;
}
main #center-box form label, main #center-box form legend {
  font-size: 0.8rem;
  font-weight: 500;
  color: hsl(278, 68%, 11%);
}
main #center-box form fieldset {
  margin-right: 0.5rem;
}
main #center-box form #card-holder {
  text-transform: capitalize;
}
main #center-box form input {
  margin-top: 0.3rem;
  width: 100%;
  border: hsl(270, 3%, 87%) 1px solid;
  color: hsl(278, 68%, 11%);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
}
main #center-box form input:focus {
  outline: none;
  border-color: hsl(278, 94%, 30%);
}
main #center-box form input::-moz-placeholder {
  color: hsl(279, 6%, 55%);
}
main #center-box form input::placeholder {
  color: hsl(279, 6%, 55%);
}
main #center-box form input:invalid {
  border-color: hsl(0, 100%, 50%);
}
main #center-box form input:invalid + span:before {
  content: "Can't be blank";
  color: hsl(0, 100%, 63%);
  font-size: 0.6rem;
}
main #center-box form fieldset {
  border: 0;
  padding: 0;
}
main #center-box form #exp-cvv, main #center-box form #mmyy {
  width: 100%;
  display: flex;
  align-items: center;
}
main #center-box form button {
  margin-top: 1rem;
  width: 100%;
  border: grey 1px solid;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: hsl(278, 68%, 11%);
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */